/cnine.log
/data
/ptens.log
/topological_model.code-workspace
__pycache__/
runs
__pycache__/objects.cpython-310.pyc
tmp/
.vscode/settings.json
sam.py
data_c2c
*.csv
*.sh
graphproperty/processed
graphproperty/raw
*.pt